body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#screen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    transition: all 250ms;
    width: auto;
}

.button:hover,
.button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button:hover {
    transform: translateY(-1px);
}

.button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.button:disabled {
    background-color: #fdfdfd;
    color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}


#fileInput {
    display: none;
}

#fileInputBtn {
    min-width: 20vw;
    max-width: 60vw;
    height: 4vw;
    word-break: keep-all;
    overflow-x: scroll;
    font-size: 2.2vw;
}

#startBtn {
    width: 20vw;
    height: 4vw;
    margin: 1vw;
    font-size: 2.2vw;
}

/* mobile */
@media only screen and (max-width: 768px) {

    #startBtn,
    #fileInputBtn {
        width: 40vw;
        height: 6vw;
        font-size: 4.4vw;
    }

    #startBtn {
        margin: 2vw;
    }
}